<div class="table-responsibe">
    <table class="mt-5 table align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tâche</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in field.todos %}
                <tr>
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.task }}</td>
                    <td>{% if todo.endedAt %}{{ todo.endedAt|date('d/m/Y') }}{% else %}{{ todo.createdAt|date('d/m/Y') }}{% endif %}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Bouttons action">
                            {% if todo.endedAt %}
                                <a href="{{ path('app_todo_cancel', { id: todo.id }) }}" class="btn btn-primary">À faire</a>
                            {% else %}
                                <a href="{{ path('app_todo_end', { id: todo.id }) }}" class="btn btn-primary">Terminé</a>
                            {% endif %}
                            <a href="{{ path('app_todo_edit', { id: todo.id }) }}" class="btn btn-success">Éditer</a>
                            <a href="{{ path('app_todo_delete', { id: todo.id }) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune tâche n'a été trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>